<button class="btn btn-secondary m-4" (click)="closeDetail()">Chiudi dettaglio</button>

<div class="container">
  <h2>Dettagli</h2>
  <div class="card bg-dark text-light">
    <div class="card-body">
      <h5 class="card-title">{{ selectedContact?.firstName }} {{ selectedContact?.lastName }}</h5>
      <p class="card-text">Numero di telefono: {{ selectedContact?.phonePrefix }} {{ selectedContact?.phoneNumber }}</p>
      <p class="card-text">Email: {{ selectedContact?.email }}</p>
      <p>{{convertedFisrstName}} {{convertedLastName}} </p>
      <p>Data di nascita: {{convertedDate}}</p>
    </div>
  </div>
</div>
