<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h2 class="navbar-brand m-2 text-light">{{ title | titlecase }}</h2>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="/products">Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
