<button class="btn btn-secondary m-4" (click)="changeBackgroundToAllElements()">Cambia colore sfondo</button>
<button routerLink="/add-contact-react" class="btn btn-secondary m-4">Aggiungi contatto</button>

<div class="container">
    <h2 *ngIf="false">Lista di contatti</h2>
    <h3>Test2</h3>
    <input #inputFilter type="text" class="form-control" placeholder="Filtra per nome">
    <hr/>
    <div *ngIf="loading" class="text-center text-lg">
      <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <ul class="list-group mt-4 bg-dark text-light">
      <!-- <li class="list-group-item" [ngStyle]="{'background': backgroundForFirstContact}">
          <div class="d-flex justify-content-between align-items-center">
            <p> {{ contacts[0].firstName }} {{ contacts[0].lastName }} </p>
            <p> {{ contacts[0].phonePrefix }} {{ contacts[0].phoneNumber }}</p>
          </div>
      </li>
      <li class="list-group-item" [ngClass]="{'background-for-second-element': isCalledEleonora(contacts[1].firstName)}">
        <div class="d-flex justify-content-between align-items-center">
          <p> {{ contacts[1].firstName }} {{ contacts[1].lastName }} </p>
          <p> {{ contacts[1].phonePrefix }} {{ contacts[1].phoneNumber }}</p>
        </div>
    </li>
    <li class="list-group-item" [ngClass]="{'background-for-second-element': isCalledEleonora(contacts[2].firstName), 'background-for-laura': !isCalledEleonora(contacts[2].firstName)}">
      <div class="d-flex justify-content-between align-items-center">
        <p> {{ contacts[2].firstName }} {{ contacts[2].lastName }} </p>
        <p> {{ contacts[2].phonePrefix }} {{ contacts[2].phoneNumber }}</p>
      </div>
  </li> -->
<li class="list-group-item" *ngFor="let contact of contacts" [ngStyle]="{'background': background}">
  <div class="d-flex justify-content-between align-items-center">
    <p>{{contact.firstName | userInitials: contact.lastName}}</p>
    <p> {{ contact.firstName }} {{ contact.lastName }} </p>
   <!--  <p> {{ contact.phonePrefix }} {{ contact.phoneNumber }}</p> -->
    <button class="btn btn-secondary" (click)="showDetails(contact.id)">Details</button>
  </div>
</li>
</ul>
</div>

