<div class="card" style="width: 18rem; padding: 1rem;margin: 2rem;">
  <img [src]="product.image" [alt]="product.title" class="card-img-top" />
  <h3 class="card-title">{{ product.title }}</h3>
  <p>Price: {{product.price | currency }}</p>
  <button (click)="onHandleClick()" [ngClass]="{
    'btn-blueviolet' : details,
    'btn-greenyellow' : !details
  }" >
  {{details? "Hide" : "Show"}} details</button>
<div *ngIf="details">
  <p>{{product.description}}</p>
  <p>Rate: <span [ngStyle]="{fontWeight:'bold'}">{{product.rating.rate}}</span></p>
</div>
</div>
