<div class="card bg-light text-dark" style="width: 12rem; height: 34rem; padding: 1rem;margin: 2rem;">
  <img [src]="product.image" [alt]="product.title" class="card-img-top" />
  <h5 class="card-title mt-4">{{ product.title | slice:0:30 }}...</h5>
  <p class="fs-6">Price: {{product.price | currency }}</p>
  <button (click)="onHandleClick()"
    class="btn"
    [ngClass]="{
     'btn-blueviolet' : details,
     'btn-greenyellow' : !details
    }" >
  {{details? "Hide" : "Show"}} details</button>
<div *ngIf="details">
  <p class="fs-6">{{product.description}}</p>
  <p>Rate: <span [ngStyle]="{fontWeight:'bold'}">{{product.rating.rate}}</span></p>
</div>
</div>
