<h2>{{title | titlecase }}</h2>

<app-contact-list *ngIf="!selectedContact; else ContactDetails"
 [contacts]="contacts"
 >
</app-contact-list>

<!-- template reference variable -->

<ng-template #ContactDetails>
  <!-- <app-contact-details (backToContactListEvent)="onBackToContactList()"></app-contact-details> -->
</ng-template>

<!-- <app-product [product]="products[0]"></app-product>
<app-product [product]="products[1]"></app-product> -->

<app-product
*ngFor="let product of products; let i = index"
[product]="product">
</app-product>
