<app-global-error></app-global-error>

<h2 class="m-2">{{title | titlecase }}</h2>

<!-- <app-contact-list *ngIf="!selectedContact; else ContactDetails"
 [contacts]="contacts"
 (selectedContactEvent)="onSelectedContact($event)"
 >
</app-contact-list> раскомментировать -->

<!-- <app-contact-details *ngIf="selectedContact" (backToContactListEvent)="onBackToContactList()"></app-contact-details> -->

<!-- template reference variable -->

<!-- <ng-template #ContactDetails>
  <app-contact-details
      [selectedContactForDetails] = "selectedContact"
      (backToContactListEvent)="onBackToContactList()">
  </app-contact-details>
</ng-template> раскомментировать -->

<router-outlet></router-outlet>
